html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  background-color: #D2D2D2;
}
#top {
  width: 70%;
  height: 200px;
  background-color: white;
  margin: 50px auto 0 auto;
  padding: 30px;
  position: relative;
}
.inp {
  line-height: 55px;
  height: 55px;
  width: 110px;
  display: inline-block;
  color: white;
  position: absolute;
  bottom: 25px;
  text-align: center;
}
#blue {
  margin-left: 25px;
  background-color: #4085DD;
}
#red {
  background-color: #C9001A;
  left: 25px;
}
#mid {
  width: 70%;
  height: 400px;
  background-color: white;
  padding: 25px;
  margin: 50px auto 0 auto;
}
#box {
  margin: 0 auto 25px auto;
  height: 80%;
  width: 90%;
  background-color: #414141;
}
#txt {
  margin: auto;
  height: 80%;
  width: 90%;
}
#bot {
  bottom: 0;
  position: absolute;
  height: 60px;
  width: 100%;
  background-color: #414141;
}
p {
  border: 0;
  margin: 0;
  line-height: 60px;
  float: right;
  padding: 0 60px 0 0;
  display: inline;
  color: white;
}
